*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/*
experiments
app/release
app/alanFord/release/
app/alanFord/debug/
app/martiMisterija/release/
app/martiMisterija/debug/
app/src/asterix/
app/src/blek/
app/src/druzinaOdVjesala/
app/src/dylanDog/
app/src/komandantMark/
app/src/main/java/README-striputopija-RIP
app/src/misterNo/
app/src/nathanNever/
app/src/ninja/
app/src/otkriceSveta/
app/src/strip82/
app/src/talicniTom/
app/src/texWiller/
app/src/zagor/
