*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/*
app/release
app/alanFord/release/
app/alanFord/debug/
app/martiMisterija/release/
app/martiMisterija/debug/
